---
- name: Send notify to Telegram
  community.general.telegram:
    token: '{{ token_tele }}'
    api_args:
      chat_id: -1002094147640
      parse_mode: "MarkdownV2"
      text: "[{{ services }}] Source IP Address {{ source_addresses }} has been blocked - Reason: {{ reason }}"
      disable_web_page_preview: True
      disable_notification: True

